<h2>Da Critters</h2>

<% @animals.each do |animal| %>
  <p><%= animal.name %> the <%= animal.type_of_animal%></p>

  <p>Vet ID: <%= animal.vet_tag %></p>

<p><a href="/lesser-danes/<%= animal.id %>">Go to animal page</a></p>

<p><a href="/lesser-danes/ <%= animal.id %>/edit">Edit animal details</a></p>

<form method="post" action="/lesser-danes/<%= animal.id %>/delete">PLIZ dont hurt me:
  <input type="submit" value="Destroy Animal"/>
</form>

<% end %>
