<p>Name: <%= @animal.name %></p>
<p>stardate_of_birth: <%= @animal.stardate_of_birth %></p>
<p>Type of Animal: <%= @animal.type_of_animal %></p>
<p>Owner Information: <%= @animal.owner_information %></p>
<p>Treatment notes: <%= @animal.treatment_notes %></p>
<p>Vet ID: <%= @animal.vet_tag %>
<a href="/great-dane/<%= @animal.vet_tag %>"> Go to vet</a></p>
